[user]
	email = rekind133@outlook.com
	name = Hy
[core]
	editor = vim
[alias]
  lg = log --all --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  co = checkout
  st = status
